.slide {
    width: 20%;
    transition: 2s;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #40d3dc;
}

#radio1:checked~.first {
    margin-left: 0%;
}

#radio2:checked~.first {
    margin-left: -20%;
}

#radio3:checked~.first {
    margin-left: -40%;
}

#radio4:checked~.first {
    margin-left: -60%;
}

#radio5:checked~.first {
    margin-left: -80%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 380px;
}

.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
    background-color: #40d3dc;
}

#radio2:checked~.navigation-auto .auto-btn2 {
    background-color: #40d3dc;
}

#radio3:checked~.navigation-auto .auto-btn3 {
    background-color: #40d3dc;
}

#radio4:checked~.navigation-auto .auto-btn4 {
    background-color: #40d3dc;
}

#radio5:checked~.navigation-auto .auto-btn5 {
    background-color: #40d3dc;
}